* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    color: rgb(4, 48, 66);
    line-height: 1.5;
    background:rgb(243, 202, 234);
    font-family: Georgia, 'Times New Roman', Times, serif

}

.container {
    max-width: 800px;
    background-color: rgb(99, 129, 146);
    margin: 100px auto;
    padding: 10px;
    /* display: flex; */
    display: grid;
    /* grid-template-columns: 20% ; */
    /*  grid-template-columns: 20% 40% 50%; */
    /* grid-template-columns:1fr 2fr 3fr */
     grid-template-columns: repeat(3,1fr);
      /*row-gap: 10px  */
      /* column-gap: 10px; */
      gap: 10px;
      align-items: start;
      justify-content: center;
}

.element{
    /* max-width: 200px; */
    background-color: rgb(139, 184, 196);
    padding: 10px;
    height: 100%;
    border: rgb(151, 32, 151) 2px solid;
}



/* .element:nth-last-of-type(2){ */
    /* align-self: center; only each element in the continer */
    /* justify-self: end; */
/* } */

/* .element:nth-last-of-type(3){ */
    /* align-self: center; only each element in the continer */
    /* justify-self: end; */
/* } */

/* .element:nth-last-of-type(5){ */
    /* align-self: center; only each element in the continer */
    /* justify-self: end; */
/* } */


/* apan -> row or colomn */

.element:nth-of-type(1){
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    grid-column: 1/3;
}

.element:nth-of-type(6){
    grid-row: 3/6;
}
