*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background: rgb(131, 131, 131);
    font-family: Georgia, 'Times New Roman', Times, serif
}
.navbar .heading {
    padding: 20px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 35px;
    font-weight: 600; 
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.imgclass .content{
    position: absolute;
    bottom: 150px;
    left: 650px;
    font-weight: 300;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    padding: 20px;
}

/* Tabs */

body {
    background: rgb(187, 185, 185);
    font-family: 'Roboto', sans-serif;
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 50px auto;
    padding: 25px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background: #9b9a9b;
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: rgb(255, 255, 255);
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}

/* Program */
.Program{
    background:#101010;
    width:100%;
    padding: 100px 100px;
}
.course{
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:1100px;
    margin: 10px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 20px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: flex;
    overflow: hidden;
    text-align: center;
}
h5{
    color: #f9004d;
    font-size: 20px;
    margin-bottom: 15px;
    
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
}


.CLUBS{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: powderblue;
    overflow: hidden;

}