

table{
    width: 80%;
    margin: 40px auto;
    background-color: rgb(84, 144, 170)
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 2px solid rgb(184, 152, 152);
    text-align: left;
    padding: 8px 15px;
}
tr{
    background-color: rgb(204,200,200)
}

form{
    width: 400px;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    padding: 20px;

}
